body {
    background-image: linear-gradient(0deg, #180025, black);
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    background-attachment: fixed; /*this is necessary to render the gradient properly*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    content-visibility: auto; /*necessary to improve performance*/
    margin: 0;
}

header {
    width: 100%;
    height: 20px;
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    margin: 20px 120px;
    font-size: 25px;
}

header a:link {
    color: whitesmoke;
    text-decoration: none;
}

h1 {
    font-size: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu-item {
    display: inline;
}

.menu-item a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 28px;
    padding: 20px;
}

header .menu-item i:hover {
    color: grey;
}

header .menu-item a:hover {
    color: grey;
}

main {
    height: 100%;
    position: relative;
    margin-left: 125px;
    display: block;
}

main li {
    position: relative;
    right: 23px;
}

footer {
    width: 100%;
    height: 40px;
    position: sticky;
    display: inline;
    text-align: left;
    float: left;
    margin-top: 20px;
    margin-left: 130px;
    font-size: 12px;
}