body {
    background-image: linear-gradient(0deg, #180025, black);
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    background-attachment: fixed; /*this is necessary to render the gradient properly*/
    display: flex;
    flex-wrap: wrap;
}

.header-div {
    width: 100%;
    height: 40px;
}

.div-right-header {
    position: sticky;
    text-align: right;
    float: right;
    display: inline;
    margin-top: 20px;
    margin-right: 115px;
}

.div-right-header a:link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

.div-left-header {
    position: sticky;
    text-align: left;
    float: left;
    display: inline;
    margin-top: 20px;
    margin-left: 115px;
}

h1 {
    font-size: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu-item {
    display: inline;
}

.menu-item a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 28px;
    padding: 20px;
}

.menu-item i:hover {
    color: grey;
}

.div-right-header .menu-item a:hover {
    color: grey;
}

.main-content {
    height: 100%;
    position: relative;
    display: block;
}

.main-content li {
    position: relative;
    right: 23px;
}

.main-content {
    position: relative;
    margin-left: 125px;
}